{{#if session.isAuthenticated}}
  Hello {{currentUser.username}}!<br>

  {{#if currentUserLocation}}
    <p>
      <button type="button" {{action "getCurrentUserLocation"}}>
        Get Location
      </button>
    </p>

    Your current location is {{currentUserLocation}}.<br>
  {{/if}}

  {{#if teams}}
    Your teams are:<br>
    {{#each teams as |team|}}
      * {{team.teamName}}<br>
    {{/each}}
  {{/if}}

  <a {{action 'invalidateSession'}}>Logout</a>

{{else}}

  You should log in.<br>

  {{#link-to 'login'}}Login{{/link-to}}<br>
  {{#link-to 'signup'}}Sign up?{{/link-to}}
  
{{/if}}
