<p>
  <button type="button" {{action "getCurrentUserLocation"}}>
    Get Location
  </button>
</p>

{{#if currentUserLocation}}
  {{currentUserLocation}}
{{else}}
  :(
{{/if}}

{{#if session.isAuthenticated}}
  Hello {{currentUser.username}}!
  Your teams are:<br>
  {{#each teams as |team|}}
    * {{team.teamName}}<br>
  {{/each}}
  <a {{action 'invalidateSession'}}>Logout</a>
{{else}}
You should log in.<br>
  {{#link-to 'login'}}Login{{/link-to}}<br>
{{#link-to 'signup'}}Sign up?{{/link-to}}
{{/if}}
