{{#if session.isAuthenticated}}
{{#link-to 'teams'}}Teams{{/link-to}}
  Hello {{currentUser.username}}!<br>

  {{#if currentUserLocation}}
    <p>
      <button type="button" {{action "getCurrentUserLocation"}}>
        Get Location
      </button>
    </p>

    Your current location is {{currentUserLocation}}.<br>
  {{/if}}

  <h3>Send an Alert</h3>
  <p>
    {{#if teams}}
      Select a team:<br>
      <select onchange={{action (mut teamId) value='target.value'}}>
        {{#each teams as |team|}}
          <option value={{team.id}} selected={{eq teamId team.id}}>{{team.teamName}}</option>
        {{/each}}
      </select>
      {{#if teamId}}
        <p>
          You have chosen {{teamChoice.teamName}}
        </p>
      {{else}}
        <p>
          Choose a team above.
        </p>
      {{/if}}

      <p>
        Enter text for your alert below:<br>
        {{textarea value=newAlert}}
      </p>

      <button {{action 'sendAlert'}}>Send Alert</button>
    {{else}}
      You need to be on a team to send an alert.
    {{/if}}
  </p>

  <a {{action 'invalidateSession'}}>Logout</a>

{{else}}

  You should log in.<br>

  {{#link-to 'login'}}Login{{/link-to}}<br>
  {{#link-to 'signup'}}Sign up?{{/link-to}}

{{/if}}
