<p>
  <button type="button" {{action "getCurrentUserLocation"}}>
    Get Location
  </button>
</p>

{{#if currentUserLocation}}
  {{currentUserLocation}}
{{else}}
  :(
{{/if}}

{{#if session.isAuthenticated}}
  Hello {{currentUser.email}}!
  <a {{action 'invalidateSession'}}>Logout</a>
{{else}}
You should log in.
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}
